@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container-fluid" style="color:#FF5722;">
    <div class="jumbotron">
        <p><h1 class="text-center">Tresvagos</h1></p>
        <p><h3 class="text-center">¡Hoteles en el Perú a tu precio deseado!</h3></p>
        <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->
        <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <h4 class="text-right">
            <div class="text-primary">
                Precio hasta
            </div>
        </h4>
    </div>
    <div class="col-md-6">
        <form class="text-left">
            @Html.TextBox("precio")
        </form>
    </div>

    <div class="col-md-6">
        <br />
        <br />
        <br />
        @*<form class="text-center">
            <button type="button" class="btn" href="/Home/Search">Buscar</button>
        </form>*@
        <div class="header-bottom">
            <div class="extra-wrap">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="grid">

                        <a class="color1 text-center" href="/home/Search">#Buscar</a>


                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
