@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="container-fluid" style="color:#FF5722;">
    <div class="jumbotron">
        <p><h1 class="text-center">Tresvagos</h1></p>
        <p><h3 class="text-center">¡Hoteles en el Perú a tu precio deseado!</h3></p>
        <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->
        <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>
</div>


<br />
<br />
<div class="row">

    <div class="well">
        <form class="form-inline" action="/home/search" method="post">

            <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">

                        <span class="input-group-btn">
                            <h4 class="text-left">
                                <div class="text-primary">
                                    Precio hasta  
                                </div>
                            </h4>
                         </span>
                            

                            <div class="text-primary">
                                
                                <input type="number" class="form-control text-center" placeholder="S/." min="0.01" step="0.01" max="2500">
                                
                            </div>



                            </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button   class="btn btn-defaul SearchButton" type="submit">
                        <span class="glyphicon glyphicon-search SearchIcon"> Buscar</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    
</div>
