
<br />

<div class="container-fluid" style="color:#FF5722;">
    <div class="jumbotron">
        <p><h1 class="text-center">Tresvagos</h1></p>
        

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="text-right">
            <div class="text-primary">
                
            </div>
        </h4>
    </div>
    <div class="col-md-6">
        <form class="text-left">
        <div> 
			<a >Precio</a>
		   <input value='Here!' ></input>
		   <button type="button" class="btn">Buscar</button>
		</div>
			
			
        </form>
    </div>


</div>
